html {
    text-align: center;
    background: #ddd;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: #fff;
    text-align: left;

    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@media all and (orientation: landscape) {
    html, select {
        font-size: 3.6vw;
    }
}
@media all and (orientation: portrait) {
    html, select {
        font-size: 5vw;
    }
}

@media (min-width: 18cm) {
    html, select {
        font-size: 9mm;
    }
    body {
        left: 50%;
        margin-left: -9cm;
        top: 1rem;
        bottom: 1rem;
        height: auto;
        width: 18cm;
        box-shadow: 0 4px 8px rgba(0,0,0,.25);
    }
}

body > div.wdg-layout-stack {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.1rem;
    color: #FFA500;
    margin: 0;
    padding: 0 0 0 .5em;
    width: 100%;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 2px #000;
    font-weight: 500;
}

h2 {
    font-size: 1rem;
    padding: 0 0 0 .5em;
    color: #ff0;
    margin: 4px 0px 12px;
    padding: 0 1rem 0 0;
    width: 100%;
    text-shadow: 2px 2px 0px #000;
    font-weight: 300;
    border-bottom: 1px solid #ff0;
    text-align: right;
}

p {
    padding: 0;
    text-align: justify;
    text-shadow: none;
}
