a.wtag-button {
    display: inline-block;
    text-decoration: none;
    padding: .5em;
    cursor: pointer;
    width: auto;
    background-color: #06C;
    background-image: linear-gradient(center top , #06B, #024);
    background-image: -moz-linear-gradient(center top , #06B, #024);
    background-image: -webkit-linear-gradient(center top , #06B, #024);
    background-image: -ms-linear-gradient(center top , #06B, #024);
    color: #fff;
    text-shadow: 1px 1px #000;
    border: 2px solid #000;
    border-radius: .25em;
    box-shadow: .5em .5em 2px rgba(0,0,50,.4), 0 0 .2em rgba(255,255,255,.5) inset;
    margin: .25em;
    font-weight: 500;
    font-size: 90%;
    transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

a.wtag-button:active {
    transform: translateX(.5em) translateY(.5em);
    -moz-transform: translateX(.5em) translateY(.5em);
    -webkit-transform: translateX(.5em) translateY(.5em);
    -ms-transform: translateX(.5em) translateY(.5em);
    box-shadow: 0 0 0 rgba(0,0,0,.4);
}

a.wtag-button.red,
a[data-checked="1"].wtag-button {
    background-color: #C60;
    background-image: linear-gradient(center top , #B00, #400);
    background-image: -moz-linear-gradient(center top , #B00, #400);
    background-image: -webkit-linear-gradient(center top , #B00, #400);
    background-image: -ms-linear-gradient(center top , #B00, #400);
    box-shadow: .5em .5em 2px rgba(50,0,0,.4), 0 0 .2em rgba(255,255,255,.5) inset;
}

a.wtag-button.green,
a[data-checked="1"].wtag-button {
    background-color: #0C6;
    background-image: linear-gradient(center top , #0B0, #040);
    background-image: -moz-linear-gradient(center top , #0B0, #040);
    background-image: -webkit-linear-gradient(center top , #0B0, #040);
    background-image: -ms-linear-gradient(center top , #0B0, #040);
    box-shadow: .5em .5em 2px rgba(0,50,0,.4), 0 0 .2em rgba(255,255,255,.5) inset;
}

a[data-checked="0"].wtag-button {
    background-color: #655;
    background-image: linear-gradient(center top , #877, #522);
    background-image: -moz-linear-gradient(center top , #877, #522);
    background-image: -webkit-linear-gradient(center top , #877, #522);
    background-image: -ms-linear-gradient(center top , #877, #522);
    color: #ccc
}
