input.wtag-input {
    font-size: 100%;
    width: 90%;
    padding: .3em;
    border-radius: .5em;
    box-shadow: 0 0 .2em #333;
    border: 1px solid #000;
}

input.wtag-input:focus {
    box-shadow: 0 0 .4em .1em #bdf;
    border: 1px solid #0af;
}
